*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}
h1 {
    font-family: 'Bricolage Grotesque', sans-serif;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}